nav {
    background-color: black;
    justify-content: space-between;
    padding: 30px 60px;
    display: flex;
}

nav h4 {
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav li a:hover {
    color: red;
    text-decoration: none;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.container-register {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header {
    text-align: center;
    font-weight: bold;
}

.submit-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    cursor: pointer;
    /* box-sizing: border-box; */
    background-color: rgb(0, 0, 255);
    color: white;
    border: solid 1px black;
    border-radius: 10px;
}

.submit:hover {
    background-color: green;
    color: white;
}